<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<head>
    <title>eLearningWeb</title>
<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">


<!-- end custom head snippets -->
</head>
<body>
    <div class="wrapper">
        <nav>
          <div class="nav-bar">
              <i class='bx bx-menu sidebarOpen' ></i>
              <span class="logo navLogo"><a href="/index.html">eLearningWeb</a></span>
    
              <div class="menu">
                  <div class="logo-toggle">
                      <span class="logo"><a href="/index.html">eLearningWeb</a></span>
                      <i class='bx bx-x siderbarClose'></i>
                  </div>
    
                  <ul class="nav-links">
                      <li><a href="/index.html">Home</a></li>
                      <li><a href="#">HTML</a></li>
                      <li><a href="#">CSS</a></li>
                      <li><a href="#">JS</a></li>
                  </ul>
              </div>
    
              <div class="darkLight-searchBox">
                  <div class="dark-light">
                      <i class='bx bx-moon moon'></i>
                      <i class='bx bx-sun sun'></i>
                  </div>
                  </div>
              </div>
          </div>
      </nav>
</body>