<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#c06318">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>

  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>
    <div class="wrapper">
    <nav>
      <div class="nav-bar">
          <i class='bx bx-menu sidebarOpen' ></i>
          <span class="logo navLogo"><a href="#">eLearningWeb</a></span>

          <div class="menu">
              <div class="logo-toggle">
                  <span class="logo"><a href="#">eLearningWeb</a></span>
                  <i class='bx bx-x siderbarClose'></i>
              </div>

              <ul class="nav-links">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Portfolio</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Contact</a></li>
              </ul>
          </div>

          <div class="darkLight-searchBox">
              <div class="dark-light">
                  <i class='bx bx-moon moon'></i>
                  <i class='bx bx-sun sun'></i>
              </div>

              <!-- <div class="searchBox">
                 <div class="searchToggle">
                  <i class='bx bx-x cancel'></i>
                  <i class='bx bx-search search'></i>
                 </div>

                  <div class="search-field">
                      <input type="text" placeholder="Search...">
                      <i class='bx bx-search'></i>
                  </div>
              </div> -->
          </div>
      </div>
  </nav>

    <div class="main_content">
      <header class="page-header" role="banner">
        <h1 class="project-name">Welcome to eLearningWeb</h1>
        <h2 class="project-tagline">This is a an educational blog to learn HTML, CSS, JS.</h2>
        {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
        {% endif %}
      </header>
      <main id="content" class="main-content" role="main">
        {{ content }}
      </main>
      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="#">eLearningWeb</a> is maintained by <a href="{{ site.github.owner_url }}">Sharan Kumar</a>.</span>
        {% endif %}
      </footer>
  </div>
  </div>
    <script>

      const body = document.querySelector("body"),
            nav = document.querySelector("nav"),
            modeToggle = document.querySelector(".dark-light"),
            searchToggle = document.querySelector(".searchToggle"),
            sidebarOpen = document.querySelector(".sidebarOpen"),
            siderbarClose = document.querySelector(".siderbarClose");
      
            let getMode = localStorage.getItem("mode");
                if(getMode && getMode === "dark-mode"){
                  body.classList.add("dark");
                }
      
      // js code to toggle dark and light mode
            modeToggle.addEventListener("click" , () =>{
              modeToggle.classList.toggle("active");
              body.classList.toggle("dark");
      
              // js code to keep user selected mode even page refresh or file reopen
              if(!body.classList.contains("dark")){
                  localStorage.setItem("mode" , "light-mode");
              }else{
                  localStorage.setItem("mode" , "dark-mode");
              }
            });
      
      // js code to toggle search box
              searchToggle.addEventListener("click" , () =>{
              searchToggle.classList.toggle("active");
            });
       
            
      //   js code to toggle sidebar
      sidebarOpen.addEventListener("click" , () =>{
          nav.classList.add("active");
      });
      
      body.addEventListener("click" , e =>{
          let clickedElm = e.target;
      
          if(!clickedElm.classList.contains("sidebarOpen") && !clickedElm.classList.contains("menu")){
              nav.classList.remove("active");
          }
      });
      
      </script>
  </body>
</html>
